<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Transaction</title>

    <link rel="stylesheet" th:href="@{/css/update.css}">
</head>
<body>

<div class="container">

    <h1>✏️ Update Transaction</h1>

    <form action="/update" method="post">

        <label>Transaction ID</label>
        <input type="number" name="id" placeholder="Enter ID" required>

        <label>New Amount</label>
        <input type="number" step="0.01" name="amount" placeholder="Enter new amount" required>

        <button type="submit">Update</button>

    </form>

    <a href="/read" class="link">⬅ Back to Dashboard</a>

</div>

</body>
</html>